{# index.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}CASHON.MOBI - Advertising network{% endblock %}

{% block header_class %}home-scroll{% endblock %}

{% block main %}

<div class="home-slider" id="home-slider">
    <div class="home-slider-container">
            <div class="container">
                <div class="col-sm-12">
                    <div class="hexagon">
                        <div class="hex-l2">
                        <div class="hex-text">
                            <p class="h1">The best affiliate network</p>
                            <p class="h2">Make Cash</p>
                            <p class="h3">With Cashon Mobi</p>
                            <div class="start-now">
                                <a href="/" class="">Start now</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="features">
    <div class="container">
            <div class="col-sm-4">
                <div class="card prem">
                    <div class="h1">Premium Quality</div>
                    <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
                    <div class="num">01</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card prof">
                    <div class="h1">Professional Team</div>
                    <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
                    <div class="num">02</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card inn">
                    <div class="h1">Innovative Solutions</div>
                    <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
                    <div class="num">03</div>
                </div>
            </div>
     </div>
</div>

<div class="maingoal" id="maingoal">
    <div class="container">
        <div class="row">
            <div class="photo col-sm-6"></div>
            <div class="text col-sm-6">
                <div class="main-h1">About Us</div>
                <div class="main-h2">Our Main Goal</div>
                <div class="main-p">CashOnMobi is a CPA Affiliate Network, which was built to provide
                    flexible and quick worldwide networking. We are not here to just
                    build a collection of offers to out gadget our competitors.</div>
                <div class="main-p">Our mission is to set new quality standards, build ground for global
                    marketing and open up new horizons for our clients to master
                    state-of-the-art marketing techniques.</div>
                <div class="start-now">
                    <a href="/">Start now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="whomakes">
    <div class="photo"></div>
    <div class="content">  
            <div class="row">
                <div class="text" id="whomakes">
                    <div class="main-h1">About Us</div>
                    <div class="main-h2">Who Makes It</div>
                    <div class="main-p">As we develop new marketing methods and strategies and implement new versatile
                        technologies, we hire teams of top-grade software developers, IT and marketing experts.
                        They put their effort together to create a viable and extremely reliable,
                        industry-compliant and flexible platform for advertisers, publishers,
                        media groups and trading desks.</div>
                    <div class="main-p">Invest your cash into a viable business and let it grow instead
                        of letting the inflation eat it away!</div>
                </div>
                <div class="text" id="whychooseus" >
                    <div class="main-h1">About Us</div>
                    <div class="main-h2">Why Choose Us</div>
                    <div class="main-p">Because we are the best of the best! And we have the best smiles in the world. As we develop new marketing methods and strategies and implement new versatile
                        technologies, we hire teams of top-grade software developers, IT and marketing experts.
                        They put their effort together to create a viable and extremely reliable,
                        industry-compliant and flexible platform for advertisers, publishers,
                        media groups and trading desks.</div>
                    <div class="main-p">Invest your cash into a viable business and let it grow instead
                        of letting the inflation eat it away!</div>
                </div>
            </div>
            <div class="row row-absolute">
                <div class="links">
                    <a href="#whomakes">Who Makes It</a>
                    <a href="#whychooseus">Why Choose Us</a>
                </div>
            </div>
    </div>
</div>

<div class="signup">
    <div class="signup-content container container-sm-height">
        <div class="row row-sm-height">
            <div class="text col-sm-8 col-sm-height">
                <div class="main-h2">Sign Up Now To our Network</div>
                <div class="main-p">As we develop new marketing methods and strategies and implement new versatile
                    technologies, developers, IT and marketing experts. They put their effort together.</div>
            </div>
            <div class="start-now col-sm-4 col-sm-height">
                <a href="/" class="">Sign up now</a>
            </div>
        </div>
    </div>
</div>

<div class="events" id="events">
    <div class="main-h1">About Us</div>
    <div class="main-h2">Attend Events</div>
    <div class="events-content container container-sm-height">
        <div class="row row-sm-height">
            <div class="schedule-meet col-sm-6 col-sm-height">
                <div id="i-event-wnights">
                    <div class="event-img">
                        <div class="event-img__hexagon">
                            <img src="{{ imgPath }}/i-event-wnights.jpg" alt="White Nights Conference">
                        </div>
                    </div>
                    <div class="event-h1">St.Petersburg.ru</div>
                    <div class="event-h2">White Nights Conference</div>
                    <div class="event-p">June 28 10:00 am - June 29 10:00 pm</div>
                    
                </div>
                <div id="i-event-mbeach">
                    <div class="event-img">
                        <div class="event-img__hexagon">
                            <img src="{{ imgPath }}/i-event-mbeach.jpg" alt="White Nights Conference">
                        </div>
                    </div>
                    <div class="event-h1">Miami Beach, Florida</div>
                    <div class="event-h2">Mobile beach Conference</div>
                    <div class="event-p">15 July, 2016</div>
                    
                </div>
                <div id="i-event-nytech">
                    <div class="event-img">
                        <div class="event-img__hexagon">
                            <img src="{{ imgPath }}/i-event-nytech.jpg" alt="White Nights Conference">
                        </div>
                    </div>
                    <div class="event-h1">New York City</div>
                    <div class="event-h2">ad:tech NY</div>
                    <div class="event-p">2-3 November, 2016</div>
                    <div class="start-now"><a href="/" class="">Schedule a meeting</a></div>
                </div>
                <div id="i-event-ims">
                    <div class="event-img">
                        <div class="event-img__hexagon">
                            <img src="{{ imgPath }}/i-event-ims.jpg" alt="White Nights Conference">
                        </div>
                    </div>
                    <div class="event-h1">Tel Aviv, Israel</div>
                    <div class="event-h2">Mobile Monetization Summit</div>
                    <div class="event-p">6 december, 2016</div>
                    <div class="start-now"><a href="/" class="">Schedule a meeting</a></div>
                </div>
            </div>
            <div class="schedule-plan col-sm-6 col-sm-height">
                <ul class="event-list">
                    <li class="event-p e-last"><a href="#i-event-wnights">28-29 June, 2016<br>White nights Conference</a></li>
                    <li class="event-p e-last"><a href="#i-event-mbeach">15 July, 2016<br>Mobile beach Conference</a></li>
                    <li class="event-p e-next"><a href="#i-event-nytech" name="">2-3 November, 2016<br>ad:tech NY</a></li>
                    <li class="event-p e-next"><a href="#i-event-ims" loc="" date="" name="">6 december, 2016<br>Mobile Monetization Summit</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="partners">
    <div class="container">
        <div class="partners-content">
            <span class="partner-1"></span>
            <span class="partner-2"></span>
            <span class="partner-3"></span>
            <span class="partner-4"></span>
            <span class="partner-5"></span>
            <span class="partner-6"></span>
            <span class="partner-1"></span>
            <span class="partner-2"></span>
            <span class="partner-3"></span>
            <span class="partner-4"></span>
            <span class="partner-5"></span>
            <span class="partner-6"></span>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}